{% extends "user_app/base.html" %}
{% load static %}
{% block content %}

{% include 'user_app/components/header.html' %}

    <!-- page title start -->
    <div class="breadcrumb-area bg-cover" style="background-image: url('./assets/img/bg/7.png');">
        <div class="container">
            <div class="breadcrumb-inner">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2 class="page-title">Windows</h2>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <ul class="page-list">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Products</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page title end -->

    <!-- project area start -->
    <div class="project-area bg-relative" style="padding-top: 30px;">
        <div class="container">
           
            <div class="team-area bg-relative pd-bottom-90">
                <div class="container">
                    <div class="row">
                        {% for window in windows %}
                            <div class="col-lg-4 col-md-6">
                                <div class="single-team-inner text-center">
                                    <div class="thumb">
                                        <img src="{{ window.image.url }}" alt="img">
                                        
                                    </div>
                                    <div class="details">
                                        <h5><a href="#">{{ window.head }}</a></h5>
                                        <p>{{ window.description }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        
                        

                    </div>
                </div>
            </div>
                
        </div>
    </div>
    <!-- project area end -->

   
    {% include 'user_app/components/footer.html' %}


    {% endblock content %}