{% extends "admin_app/components/base.html" %}
{% load static %}
{% block content %}

{% include 'admin_app/components/header.html' %}
<div class="container-fluid py-4">
  {% include 'admin_app/components/alert.html' %}
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <div class="row">
                <div class="col-6 d-flex align-items-center">
                  <h6 class="mb-0">Window List</h6>
                </div>
                <div class="col-6 text-end">
                    <a href="{% url 'window_add' %}">
                        <button class="btn btn-primary btn-sm mb-0">Add window</button>
                    </a>
                  
                </div>
            </div>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                    <tr class="text-center">
                      <th scope="col">#</th>
                      <th scope="col">Image</th>
                      <th scope="col">Head</th>
                      <!-- <th>Status</th> -->
                      <th scope="col">Action</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for window in windows %}
                    <tr class="text-center">
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>
                        {% if window.image %}
                            <a href="{{ window.image.url }}" target="_blank">
                            <img src="{{ window.image.url }}" alt="" class="img-fluid" style="max-width: 100px;">
                            </a>
                        {% else %}
                            None
                        {% endif %}
                      </td>
                      <td>{{ window.head }}</td>
                      <!-- <td class="align-middle text-center text-sm">
                        {% if window.status == True %}
                            <span class="badge badge-sm bg-gradient-success">Compleated</span>
                        {% else %}
                            <span class="badge badge-sm bg-gradient-secondary">Ongoing</span>
                        {% endif %}
                      </td> -->
                      <td>
                        <span>
                            <a href="{% url 'window_view' window.id %}">
                                <i class="bi bi-eye-fill text-primary"></i>
                            </a>
                        </span>
                        <span>
                          <a href="{% url 'window_edit' window.id %}">
                            <i class="bi bi-pencil-square"></i>
                          </a>
                        </span>
                        <span>
                          <a href="{% url 'window_delete' window.id %}" 
                            onclick="return confirm('Do you want to delete this window?')">
                            <i class="bi bi-trash3-fill text-danger"></i>
                          </a>
                        </span>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>
</main>

{% endblock content %}