{% load static %}
         
    <!-- footer area start -->
    <footer class="  mt-0">
        
        <div class="footer-bottom bg-gray-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <p>© Technowin 2024 | All Rights Reserved</p>
                    </div>
                    <div class="col-md-6 text-lg-end">
                        <p>Powered by: 
                            <a href="http://dhanwis.com/" target="_blank" style="color: #ebb741;">Dhanwis TechInfo Solutions </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->


    <a href="https://api.whatsapp.com/send?phone=7012645415" target="_blank" id="whatsapp-icon">
        <i class="bi bi-whatsapp"></i>
      </a>
    
    <a href="https://www.instagram.com/technowinupvc/" target="_blank" id="instagram-icon">
    <i class="bi bi-instagram"></i>
    </a>

    <a href="https://www.facebook.com/p/Techno-Win-100075863454520/" target="_blank" id="facebook-icon">
    <i class="bi bi-facebook"></i>
    </a>




    <!-- back to top area start -->
    <!-- <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div> -->
    <!-- back to top area end -->